#address-selection {
    .progress-steps::before {
        top: 29%;
    }

    .card-body {
        padding: 5px;
    }
}

/* Wrapper dla całego adresu */
.address-card-wrapper {
    display: block;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Radiobutton ukryty */
.address-card-radio {
    display: none;
}

/* Label jako klikany element */
.address-card-label {
    width: 100%;
    display: block;
}

/* Treść adresu */
.address-card-content {
    padding: 5px 5px 5px 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    p {
        margin-bottom: 5px;
    }
}

.address-card-wrapper:hover .address-card-content {
    background-color: #ecffec;
    border: 1px solid #49c865;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Wybrany adres (zaznaczony) */
.address-card-radio:checked + .address-card-label .address-card-content {
    border: 1px solid #28a745;
    background-color: #d8fdd8;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
    border-radius: 10px;
}

/* Domyślny adres */
.address-default-badge {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    margin-top: 5px;
}
