.full-name {
    font-size: 16px;
    line-height: 1.2;
    word-wrap: break-word;
    white-space: normal;
}

.short-name {
    font-size: 18px;
    font-weight: bold;
}

.show-more-btn {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.show-more-btn:hover,
.show-more-btn:focus {
    text-decoration: underline;
    color: #0056b3;
    transform: scale(1.1);
    outline: none;
}

/*****Opcje paska progresu START*****/
.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.progress-steps {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 4rem;
    position: relative;
    max-width: 800px;
    width: 100%;

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
        flex: 1;
        text-align: center;
    }

    .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .label {
        font-size: 14px;
        color: #333;
    }

    .step.active {
        .circle {
            background-color: #000000;
            color: #fff;
        }

        .label {
            font-weight: bold;
            color: #000000;
        }
    }

    .step.completed {
        .circle {
            background-color: #28a745;
            color: #fff;
        }

        .label {
            font-weight: bold;
            color: #28a745;
        }
    }
}

.progress-steps::before {
    content: '';
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #e0e0e0;
    z-index: 0;
}

#address-selection .progress-steps::before {
    top: 29%;
}
/*Opcje paska progresu KONIEC*/
/*-------------------------------*/
/*Opcja dla total price*/
.total-amount-box {
    border: 1px solid #000000;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f8f9fa;
    color: #000000;
}

.proceed-button {
    background-color: #28a745 !important;
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    margin-left: 10px;
}

.proceed-button:hover {
    background-color: #000000 !important; /* Ciemniejszy zielony */
    color: white !important;
}

.btn-link {
    color: #000000;
}

.btn-link:hover {
    color: #000000;
}

@media (max-width: 768px) {
    .card-body {
        justify-content: center; /* Wyrównanie na środku na małych ekranach */
    }

    .progress-steps::before {
        top: 23% !important;
    }

    /*-------------------------------*/
    .item-total-price {
        margin-top: 10px; /* Dystans od countera */
        text-align: right; /* Wyrównanie do prawej */
    }

    .row.d-flex.justify-content-between.align-items-center {
        flex-wrap: wrap;
    }

    .col-md-3.col-lg-2.col-xl-2.offset-lg-1 {
        flex-basis: 100%; /* Cena zajmuje całą szerokość na małych ekranach */
        text-align: right;
        margin-top: 10px; /* Odstęp od poprzedniego wiersza */
    }

    .col-md-3.col-lg-3.col-xl-2.d-flex {
        flex-basis: 100%; /* Licznik zajmuje całą szerokość */
        margin-bottom: 5px; /* Odstęp na dole */
    }
}