#order_detail{
    .card{
        margin-bottom: 10px;
    }

    .card-body{
        border-bottom: solid 1px black;
    }
}


.order_detail_container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.order_detail_header {
    margin-bottom: 30px;
    text-align: left;
}

.order_detail_product_image {
    height: auto;
    max-width: 290px;
    object-fit: cover;
}

.order_detail_product_details {
    flex: 1;
    font-size: 14px;
    color: #333;
}

.order_detail_product_name {
    font-weight: bold;
    font-size: 16px;
}

.order_detail_product_rate {
    flex: 1;
    padding: 10px;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;

    form{
        box-shadow: none;
    }
}

@media (max-width: 770px) {
    .order_detail_product_rate {
        border-left: none;
        border-top: 1px solid #ddd;
    }
}

.rating_form .form_group{
    display: flex;
    flex-direction: column;
}

.rating_form {
    margin-bottom: 5px;
    padding: 5px;

    .form_group {
        input,
        textarea {
            border: 1px solid #a8a8a8;
            border-radius: 4px;
            margin-bottom: 8px;
        }
    }

    .rate_submit_button {
        background-color: black;
    }

    .rate_submit_button:hover {
        background-color: #aad18c;
        color: black;
    }

    .rate_submit_button,
    .form_group {
        margin-inline: 10px;
    }
}

.rate_submit_button{
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    margin-top: 5px;
}

.order_detail_progress_steps {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.order_detail_step {
    text-align: center;
    flex: 1;
}

.order_detail_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto;
    line-height: 35px;
    color: white;
    font-weight: bold;
}

.order_detail_step.active .order_detail_circle {
    background-color: #007bff;
}

.order_detail_step.completed .order_detail_circle {
    background-color: #28a745;
}

.order_detail_label {
    margin-top: 5px;
    font-size: 13px;
    color: #555;
}

.btn-primary {
    background-color: #000000;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #258718;
}
