.order_detail_container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.order_detail_header {
    margin-bottom: 30px;
    text-align: left;
}

.order_detail_products {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order_detail_product_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    gap: 15px;
}

.order_detail_product_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.order_detail_product_details {
    flex: 1;
    font-size: 14px;
    color: #333;
}

.order_detail_product_name {
    font-weight: bold;
    font-size: 16px;
}

.order_detail_product_rate {
    flex: 1;
    margin-left: 15px;
    padding: 10px;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating_form .form_group,
.reaction_form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rate_submit_button,
.reaction_button {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rate_submit_button:hover,
.reaction_button:hover {
    background-color: #0056b3;
}

.reaction_button {
    background-color: #28a745;
    margin-top: 5px;
}

.reaction_button:last-child {
    background-color: #dc3545;
}

.order_detail_delivery_status {
    margin-top: 30px;
}

.order_detail_progress_steps {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.order_detail_step {
    text-align: center;
    flex: 1;
}

.order_detail_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto;
    line-height: 35px;
    color: white;
    font-weight: bold;
}

.order_detail_step.active .order_detail_circle {
    background-color: #007bff;
}

.order_detail_step.completed .order_detail_circle {
    background-color: #28a745;
}

.order_detail_label {
    margin-top: 5px;
    font-size: 13px;
    color: #555;
}

.btn-primary {
    background-color: #000000;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover{
    background-color: #258718;
}
