{% extends 'base.html' %}

{% block title %}
Metoda płatności
{% endblock %}
{% load custom_filters %}

{% block content %}
<section class="payment-form-container">
    <div class="payment-form-wrapper">
        <!-- Sekcja kroków -->
        <div class="progress-container">
            <ul class="progress-steps">
                <li class="step completed">
                    <div class="circle">1</div>
                    <div class="label">Koszyk</div>
                </li>
                <li class="step completed">
                    <div class="circle">2</div>
                    <div class="label">Adres</div>
                </li>
                <li class="step active">
                    <div class="circle">3</div>
                    <div class="label">Płatność</div>
                </li>
            </ul>
        </div>

        <!-- Formularz płatności -->
        <div class="form-header">
            <h2 class="form-title">Metoda płatności</h2>
        </div>
        <div class="form-body">
            <form method="post" action="{% url 'payment_form' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_payment_method" class="form-label">Wybierz metodę płatności</label>
                    {{ form.payment_method|add_class:"form-select" }}
                </div>
                <div id="card-fields" class="form-group" style="display: none;">
                    <label for="id_card_number" class="form-label">Numer karty</label>
                    {{ form.card_number|add_class:"form-input" }}
                    <label for="id_expiration_date" class="form-label">Data ważności</label>
                    {{ form.expiration_date|add_class:"form-input" }}
                    <label for="id_cvv" class="form-label">CVV</label>
                    {{ form.cvv|add_class:"form-input" }}
                </div>
                <div class="form-actions">
                    <button type="submit" class="form-button form-button-submit">Zatwierdź płatność</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const paymentMethodSelect = document.querySelector('#id_payment_method');
        const cardFields = document.querySelector('#card-fields');

        function updateFields() {
            const selectedMethod = paymentMethodSelect.value;
            cardFields.style.display = selectedMethod === 'karta' ? 'block' : 'none';
        }

        paymentMethodSelect.addEventListener('change', updateFields);
        updateFields(); // Initial update
    });
</script>
{% endblock %}