<div class="d-none col-md-3" id="left-categories">
    <div class="mt-2 px-1">
        <aside>
            <ul>
                {% for main_category in categories %}
                    <li class="list-unstyled">
                        {% if main_category.id == category.id %}
                            <a href="{% url 'category_products' main_category.id %}" class="active">
                                {{ main_category.name }}
                            </a>
                        {% else %}
                            <a href="{% url 'category_products' main_category.id %}">
                                {{ main_category.name }}
                            </a>
                        {% endif %}
                    </li>
                    {% if main_category.subcategories.exists %}
                        <ul class="subcategories">
                        {% for subcategory in main_category.subcategories.all %}
                            {% if main_category.id == category.id %}
                                <li class="list-unstyled">
                                    <a href="{% url 'category_products' subcategory.id %}" class="fw-bold">
                                        {{ subcategory.name }}
                                    </a>
                                </li>
                            {% else %}
                                {% if subcategory.id == category.id %}
                                    <li class="list-unstyled">
                                        <a href="{% url 'category_products' subcategory.id %}" class="active">
                                            {{ subcategory.name }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="list-unstyled">
                                        <a href="{% url 'category_products' subcategory.id %}">
                                            {{ subcategory.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if subcategory.subcategories.exists %}
                                {% if subcategory.id == category.id %}
                                    <ul>
                                        {% for sub_subcategory in subcategory.subcategories.all %}
                                            <li class="list-unstyled">
                                                <a href="{% url 'category_products' sub_subcategory.id %}"
                                                   class="fw-bold">
                                                    {{ sub_subcategory.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul>
                                        {% for sub_subcategory in subcategory.subcategories.all %}
                                            <li class="list-unstyled">
                                                {% if sub_subcategory.id == category.id %}
                                                    <a href="{% url 'category_products' sub_subcategory.id %}"
                                                       class="active">
                                                        {{ sub_subcategory.name }}
                                                    </a>
                                                {% endif %}
                                                {% if category in subcategory.subcategories.all %}
                                                    {% if sub_subcategory.id != category.id %}
                                                        <a href="{% url 'category_products' sub_subcategory.id %}">
                                                            {{ sub_subcategory.name }}
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
                {% endfor %}
            </ul>
            <form class="center-container-items" method="get" action="" style="background-color: #f3f3f3; border: none; box-shadow: none;">
                <div class="mb-3">
                    <label for="price-range" class="form-label">Cena:</label>
                    <div class="d-flex">
                        <input type="number" min="0" name="min_price" id="min-price" class="form-control me-2" placeholder="od" value="{{ min_price }}" style="max-width: 100px;">
                        <span class="me-2">-</span>
                        <input type="number" min="1" name="max_price" id="max-price" class="form-control" placeholder="do" value="{{ max_price }}" style="max-width: 100px;">
                    </div>
                </div>
                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                <input type="hidden" name="order" value="{{ order }}">
                <input type="hidden" name="search_value" value="{{ search_value }}">
                <div class="center-container-items">
                    <button type="submit" class="filter-btn btn btn-secondary mt-2">Filtruj</button>
                </div>
            </form>
        </aside>
    </div>
</div>

<div id="header-filter">
    <div class="row clean-div-color">
        <div class="col center-container-items_x384" style="padding: 0 18px !important;">
            <button class="filter-btn btn btn-secondary float-end" type="button" data-bs-toggle="collapse" data-bs-target="#filter-collapse" aria-expanded="false" aria-controls="filter-collapse">
                Filtry
            </button>
        </div>
    </div>
    <!-- Zawartość formularza z filtrem -->
    <div class="collapse " id="filter-collapse">
        <div class="card border-0 px-2">
            <form method="get" action="" class="p-2">
                <div class="mb-3">
                    <label for="price-range" class="form-label"><b>Cena:</b></label>
                    <div class="d-flex">
                        <input type="number" min="0" name="min_price" id="min-price" class="form-control me-2" placeholder="od" value="{{ min_price }}" style="max-width: 100px;">
                        -
                        <input type="number" min="1" name="max_price" id="max-price" class="form-control ms-2" placeholder="do" value="{{ max_price }}" style="max-width: 100px;">
                    </div>
                </div>
                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                <input type="hidden" name="order" value="{{ order }}">
                <input type="hidden" name="search_value" value="{{ search_value }}">

                <!-- Drugi przycisk wyśrodkowany -->
                <button type="submit" class="filter-btn btn btn-secondary mt-2 mx-auto d-block">Filtruj</button>
            </form>
        </div>
    </div>
</div>

