.order_detail_container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.order_detail_header {
    margin-bottom: 20px;
}

.order_detail_products {
    margin-top: 20px;
}

.order_detail_product_card {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff;
}

.order_detail_product_image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 15px;
}

.order_detail_product_details {
    font-size: 14px;
    color: #333;
}

.order_detail_product_name {
    font-weight: bold;
}

.order_detail_product_brand,
.order_detail_product_price,
.order_detail_product_quantity {
    font-size: 13px;
    color: #777;
}

.order_detail_delivery_status {
    margin-top: 20px;
}

.order_detail_progress_steps {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.order_detail_step {
    text-align: center;
    flex: 1;
}

.order_detail_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto;
    line-height: 30px;
    color: white;
    font-weight: bold;
}

.order_detail_step.active .order_detail_circle {
    background-color: #007bff;
}

.order_detail_step.completed .order_detail_circle {
    background-color: #28a745;
}

.order_detail_label {
    margin-top: 5px;
    font-size: 13px;
}

.btn-primary {
    background-color: #000000;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover{
    background-color: #258718;
}
