@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

@media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;
        }
    }
}

.shopping-cart .def-number-input.number-input {
    border: none;
}

.shopping-cart .def-number-input.number-input input[type=number] {
    max-width: 2rem;
    border: none;
}

.shopping-cart .def-number-input.number-input input[type=number].black-text,
.shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
.shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
.shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
    color: #212529 !important;
}

.shopping-cart .def-number-input.number-input button {
    width: 1rem;
}

.shopping-cart .def-number-input.number-input button:before,
.shopping-cart .def-number-input.number-input button:after {
    width: .5rem;
}

.shopping-cart .def-number-input.number-input button.minus:before,
.shopping-cart .def-number-input.number-input button.minus:after {
    background-color: #9e9e9e;
}

.shopping-cart .def-number-input.number-input button.plus:before,
.shopping-cart .def-number-input.number-input button.plus:after {
    background-color: #4285f4;
}

/*Opcje zmiany długość nazwy wzgledem długości nazwy produkut*/
.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full-name {
    font-size: 16px;
    line-height: 1.2;
    word-wrap: break-word;
    white-space: normal;
}

.short-name {
    font-size: 18px;
    font-weight: bold;
}

.show-more-btn {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.show-more-btn:hover,
.show-more-btn:focus {
    text-decoration: underline;
    color: #0056b3;
    transform: scale(1.1);
    outline: none;
}

/*Opcje paska progresu*/
.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.progress-steps {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 4rem;
    position: relative;
    max-width: 800px;
    width: 100%;
}

#address-selection {
    .progress-steps::before {
        top: 29%;
    }
}

.progress-steps::before {
    content: '';
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #e0e0e0;
    z-index: 0;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    flex: 1;
    text-align: center;
}

.step .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.step.active .circle {
    background-color: #000000;
    color: #fff;
}

.step .label {
    font-size: 16px;
    color: #555;
    font-weight: 500;
    text-align: center;
}

.step.completed .circle {
    background-color: #28a745;
    color: #fff;
}

/*-------------------------------*/
/*Opcja dla total price*/
.total-amount-box {
    border: 1px solid #000000;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f8f9fa;
    color: #000000;
}

#payment {
    .proceed-button {
        margin: auto;
    }
}

.proceed-button {
    background-color: #28a745 !important;
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    margin-left: 10px;
}

.proceed-button:hover {
    background-color: #000000 !important; /* Ciemniejszy zielony */
    color: white !important;
}

.btn-link {
    color: #000000;
}

.btn-link:hover {
    color: #000000;
}

@media (max-width: 768px) {
    .total-price-box {
        margin-bottom: 15px; /* Odstęp na małych ekranach */
        margin-right: 0; /* Brak odstępu od przycisku */
        text-align: center;
    }

    .card-body {
        justify-content: center; /* Wyrównanie na środku na małych ekranach */
    }

    .progress-steps::before {
        top: 23% !important;
    }

    /*-------------------------------*/
    .item-total-price {
        margin-top: 10px; /* Dystans od countera */
        text-align: right; /* Wyrównanie do prawej */
    }

    .row.d-flex.justify-content-between.align-items-center {
        flex-wrap: wrap; /* Zawijanie wierszy */
    }

    .col-md-3.col-lg-2.col-xl-2.offset-lg-1 {
        flex-basis: 100%; /* Cena zajmuje całą szerokość na małych ekranach */
        text-align: right;
        margin-top: 10px; /* Odstęp od poprzedniego wiersza */
    }

    .col-md-3.col-lg-3.col-xl-2.d-flex {
        flex-basis: 100%; /* Licznik zajmuje całą szerokość */
        margin-bottom: 5px; /* Odstęp na dole */
    }
}