@media screen and (min-width: 1000px) {
    #left-categories {
        display: flex !important;
        flex-direction: column;
        width: 200px;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.8;
        flex-basis: 17%;
        min-width: fit-content;
        margin-right: 10px;
    }

    #left-categories a:hover {
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 3px;
    }

    #left-categories .active {
        font-weight: bold;
        color: #528320;
    }

    #header-filter {
        display: none !important;
    }
}

#header-filter {
    display: block;
}

#left-categories ul {
    padding-left: 20px;
}

#categories-toggle {
    display: block;
    font-weight: bold;
}

#header_categories {
    display: none;
    position: absolute;
    top: 61px;
    left: 0;
    background-color: #292929;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.47);
    border-bottom-right-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    min-width: 215px;
    width: 400px;
    height: 400px;
    z-index: 99;
    padding: 10px;
}

#header_categories.show {
    display: block;
}

.category-item {
    max-width: fit-content;
}

.category-item:hover {
    border-left: #6ea33e 4px solid;
}

.category-item.selected {
    border-left: #6ea33e 4px solid;
}

.category-item.selected .category-item-txt {
    color: #6ea33e;
    font-weight: bolder;
}

.category-item:hover .category-item-txt {
    color: #6ea33e;
    font-weight: bolder;
}

.subcategory-list {
    display: none;
    font-size: 14px;
    margin-top: 5px;
    list-style-type: none;
    padding-left: 15px;
    position: absolute;
    top: 5px;
    left: 45%;
}

.subcategory-item-txt:hover {
    color: #6ea33e;
    font-weight: bolder;
}