.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#entire_header {
    background-color: #cedcc3;
    min-width: 335px;
}

.background-header {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1000;
}

.only-icon {
    display: none !important;
}

@media only screen and (max-width: 985px) {
    .searchBar {
        display: none;
    }

    #searchBarMax458 {
        display: flex !important;
        width: 50%;
    }

    .navbar-brand {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 765px) {
    .only-icon {
        display: block !important;
    }

    .icon-text {
        display: none !important;
    }
}

/* Styl dla elementów na nagłówku */
.nav-item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-item:hover {
    color: #cedcc3;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

/********* Styl dla całego dropdown menu *************/
.navbar-nav .dropdown-menu {
    position: absolute;
    background-color: #292929;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    min-width: 220px;
    transition: all 0.3s ease;
}

.show .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    display: block;
}

.dropdown-menu[aria-expanded="false"] {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
}

.dropdown-item {
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #b9d6a2;
    color: #000000;
    border-radius: 4px;
}

@media only screen and (max-width: 575.9px) {
    #header_buttons {
        display: none;
    }
}

.collapsible {
    padding: 15px;
    width: fit-content;
}

.collapsible::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.collapsible:hover::after {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 575.9px) {
    .vertical-menu {
        display: none !important;
    }
}

.vertical-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #292929;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 4px;
    transition: all 0.3s ease;


    .navbar-nav {
        margin: 5px;
    }

    .nav-link {
        padding: 10px 15px;
        background-color: #f8f9fa;
        color: #333;
        border-radius: 4px;
    }

    .nav-link:hover {
        background-color: #b4635a;
        color: #fff;
    }

    .nav-item {
        display: block;
        font-size: 1rem !important;
        font-weight: 500 !important;
        min-width: 150px;
    }

    .dropdown-menu {
        position: static;
        min-width: 150px;
    }

    .dropdown-item {
        padding: 10px 15px;
        text-align: left !important;
        color: #fff;
    }

    .dropdown-item:hover {
        background-color: #b4635a;
        color: #fff;
    }
}

