.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#entire_header {
    background-color: #b4635a;
    min-width: 335px;
}

.only-icon {
    display: none !important;
}

@media only screen and (max-width: 985px) {
    .searchBar {
        display: none;
    }

    #searchBarMax458 {
        display: flex !important;
        width: 50%;
    }

    .navbar-brand {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 765px) {
    .only-icon {
        display: block !important;
    }

    .icon-text {
        display: none !important;
    }
}

/* Styl dla elementów na nagłówku */
.nav-item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-item:hover {
    color: #b4635a;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #b4635a;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

/* Styl dla całego dropdown menu */
.navbar-nav .dropdown-menu {
    position: absolute !important;
    background-color: #292929;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    min-width: 220px;
    transition: all 0.3s ease;
}

.show .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    display: block;
}

.dropdown-menu[aria-expanded="false"] {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
}

.dropdown-item {
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #b4635a;
    color: #ffffff;
    border-radius: 4px;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

@media only screen and (max-width: 575.9px) {
    #header_buttons {
        display: none;
    }
}

@media only screen and (min-width: 575.9px){
    .content{
        display: none !important;
    }
}

/*Style the button that is used to open and close the collapsible content*/
.collapsible {
    cursor: pointer;
    position: relative;
    padding: 15px;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 1rem !important;
    font-weight: 500 !important;
    text-decoration: none;
    transition: all 0.3s ease;
}

.collapsible:hover {
    color: #b4635a;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.collapsible::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #b4635a;
    transition: width 0.3s ease;
}

.collapsible:hover::after {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-toggler:focus{
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
}

/* Style the collapsible content. Note: hidden by default */
/*.content {*/
/*    padding: 0 18px;*/
/*    display: none;*/
/*    overflow: hidden;*/
/*    background-color: #f1f1f1;*/
/*}*/

/* Style the collapsible content. Note: hidden by default */
/*.content {*/
/*    padding: 15px; !* Dodaj odstępy wewnątrz okna *!*/
/*    display: none;*/
/*    overflow: hidden; !* Ukryj przewijanie, gdy okno jest zamknięte *!*/
/*    background-color: #f8f9fa; !* Jaśniejszy kolor dla kontrastu *!*/
/*    border-top: 2px solid #b4635a; !* Dodaj delikatną linię oddzielającą *!*/
/*    margin-top: -2px; !* Wyrównaj z przyciskiem *!*/
/*    position: relative;*/
/*    z-index: 1; !* Zapewnij, że pojawia się nad innymi elementami *!*/
/*    animation: slideDown 0.3s ease-out; !* Płynne rozwijanie *!*/
/*}*/

/*!* Dodaj animację do rozwijania zawartości *!*/
/*@keyframes slideDown {*/
/*    from {*/
/*        max-height: 0;*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        max-height: 300px; !* Ustaw maksymalną wysokość, by nie rozwijało się nieskończoność *!*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*!* Styl rozwiniętej zawartości *!*/
/*.content.show {*/
/*    display: block;*/
/*    max-height: none; !* Usuń ograniczenie wysokości *!*/
/*    animation: slideDown 0.3s ease-out;*/
/*}*/


/* Ustaw styl dla kolumny */
.vertical-menu {
    position: absolute;
    top: 100%; /* Lista zaczyna się bezpośrednio poniżej headera */
    left: 45%;
    width: 50%; /* Dopasowanie szerokości do rodzica */
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #292929; /* Białe tło dla listy */
    z-index: 1000; /* Zapewnia, że lista jest nad innymi elementami */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Dodanie subtelnego cienia */
    -moz-border-radius-bottomleft: 4px; /* Zaokrąglone rogi */
}

/* Style dla każdego elementu w liście */
.vertical-menu .nav-item {
    display: block;
    width: 100%;
    margin-bottom: 2px;
}

/* Style dla linków */
.vertical-menu .nav-link {
    display: block;
    width: 100%;
    padding: 10px 15px; /* Dodaj przestrzeń wewnątrz linków */
    background-color: #f8f9fa; /* Jasne tło */
    color: #333; /* Kolor tekstu */
    text-decoration: none; /* Usuń podkreślenie */
    /*transition: all 0.3s ease;*/
    border-radius: 4px;
}

.vertical-menu .nav-link:hover {
    background-color: #b4635a;
    color: #fff; /* Kolor tekstu przy hover */
}

/* Style dla dropdown */
.vertical-menu .dropdown-menu {
    position: static; /* Dropdown pozostaje w układzie listy */
    width: 100%; /* Dopasuj szerokość dropdownów */
    margin-top: 5px;
    background-color: #292929;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Style dla pozycji w dropdown */
.vertical-menu .dropdown-item {
    padding: 10px 15px;
    text-align: left;
    color: #fff;
}

.vertical-menu .dropdown-item:hover {
    background-color: #b4635a;
    color: #fff;
}