/* Sekcja kroków */
.progress-steps .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progress-steps .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.progress-steps .step.completed .circle {
    background-color: #28a745;
}

.progress-steps .label {
    font-size: 14px;
    color: #333;
}

.progress-steps .step.completed .label {
    font-weight: bold;
    color: #28a745;
}

.progress-steps .step.active .label {
    font-weight: bold;
    color: #000000;
}

#payment{
    form {
        box-shadow: none;
    }
}