#productsAmount {
    max-height: 32px !important;
    margin: 0 auto;
    display: flex;
}

#productsList {
    justify-content: left;
    gap: 10px;
    padding: 0;
}

.product-div {
    position: relative;
    transition: all 0.3s ease;
    min-width: 200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-div:hover {
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s ease-in-out;
}

.card-title {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
}

.card-text {
    max-height: 20px;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-container {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease
}

.row {
    /*potrzebne*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.product-div:hover .image-container img {
    transform: scale(1.05);
}

@media screen and (max-width: 1250px) {
    #productsList {
        justify-content: center;
    }

    #productsAmount {
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }
}

@media screen and (max-width: 520px) {
    .product-div {
        flex-basis: 80%;
        max-width: 80%;
    }
}

@media screen and (max-width: 685px) {
    .product-div {
        flex-basis: 45%;
        max-width: 45%;
    }
}

@media screen and (min-width: 685px) {
    .product-div {
        flex-basis: 30%;
        max-width: 30%;
    }
}

@media screen and (min-width: 850px) {
    .product-div {
        flex-basis: 24%;
        max-width: 24%;
    }
}