.d-flex.align-items-center {
    gap: 1rem;
}

p {
    margin: 0;
}

.border-bottom {
    border-color: #e0e0e0 !important;
}

.btn-outline-primary {
    font-size: 0.9rem;
    font-weight: 600;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
    padding: 1.5rem;
    font-weight: bold;
}

.modal-body {
    padding: 1.5rem;
    font-size: 1rem;
}

.modal-footer {
    padding: 1rem 1.5rem;
    background-color: #f8f9fa;
}

.modal-footer .btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 5px;
}

.modal .form-control {
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1rem;
}
.form-label {
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

