/* Globalne style dla wszystkich stron */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Styl nawigacji */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styl formularza rejestracji i logowania */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}