.main-banner {
    border-bottom: 3px dotted #eee;
    padding: 24px 12px 30px;
}

.left-content {
    .thumb {
        position: relative;

        img {
            width: 100%;
            overflow: hidden;
        }
    }

    .inner-content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;

        h4 {
            color: #fff;
            margin-top: -10px;
            font-size: 52px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        span {
            font-size: 16px;
            color: #fff;
            font-weight: 400;
            font-style: italic;
            display: block;
            margin-bottom: 15px;
        }
    }
}

.right-content {
    .right-first-image {
        margin-bottom: 21px;

        .thumb {
            position: relative;
            text-align: center;

            img {
                width: 100%;
                overflow: hidden;
            }
        }

        .thumb .inner-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;

            h4 {
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            span {
                font-size: 16px;
                color: #fff;
                font-style: italic;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
            }
        }

        .thumb .hover-content {
            position: absolute;
            top: 15px;
            right: 15px;
            left: 15px;
            bottom: 15px;
            text-align: center;
            background-color: rgba(42, 42, 42, .97);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;

            .inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }

            h4 {
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            p {
                color: #fff;
                padding: 0px 20px;
                margin-bottom: 20px;
            }
        }

        .thumb:hover .hover-content {
            opacity: 1;
            visibility: visible;
        }
    }
}

.main-border-button {
    a {
        font-size: 13px;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 25px;
        display: inline-block;
        font-weight: 500;
        transition: all .3s;
    }

    a:hover {
        background-color: #fff;
        color: #2a2a2a;
    }
}

@media (max-width: 1200px) {
    .right-content .right-first-image .thumb .hover-content p {
        display: none;
    }
}

@media (max-width: 767px) {
    .left-content .thumb .inner-content {
        left: 50%;
        top: 47.5%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media (max-width: 992px) {
    .right-content .right-first-image .thumb .hover-content p {
        display: block;
    }

    .left-content {
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .main-banner .thumb {
        max-width: 80%;
        margin: 0 auto;
    }

    .left-content .thumb {
        position: relative;
        text-align: center;

        .inner-content {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
        }
    }
}

@media (max-width: 565px) {
    .left-content .inner-content h4 {
        font-size: 24px;
    }

    .left-content .inner-content span {
        display: none;
    }
}