{% extends 'base.html' %}

{% block title %}Favorites - KMG{% endblock %}

{% block content %}
    <div class="row">
        {% if products %}
            <div class="d-flex flex-wrap justify-content-center col">
                <div class="px-2 row">
                    <h2 class="">Favorites</h2>
                    <div id="productsAmount">
                        <div>
                            <div class="mb-2 px-1">
                                <span class="text-dark-emphasis">Amount of products: {{ products.count }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap" id="productsList" style="line-height: 1.3;">
                        {% for product in products %}
                            <div class="pt-3 pb-2 px-1 product-div">
                                <a href="#">
                                    <div class="mb-4">
                                        <div class="image-container rounded border border-black">
                                            <img src="{{ product.image.url }}" class="card-img-top"
                                                 alt="{{ product.name }}" loading="lazy">
                                        </div>
                                        <div class="card-body p-1 ps-2">
                                            <p class="card-title">{{ product.brand }}</p>
                                            <p class="card-text mb-2">{{ product.name }}</p>
                                            <p class="card-text">{{ product.price }} zł</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% include 'pagination.html' %}
            </div>
        {% else %}
            <div class="d-flex flex-wrap justify-content-center col">
                <div class="px-2 row my-auto" style="">
                    <h2>Favorites"</h2>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}