{% extends 'base.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="mx-auto" style="min-width: 258px; max-width: 600px;">
        <h2 class="text-center">{{ header }}</h2>
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}

        <form method="post" enctype="multipart/form-data" class="p-4">
            {% csrf_token %}
            {% for field in form %}
                {% if field.field.widget.input_type == "checkbox" %}
                    {% if form.parent.field.queryset.count == 0 %}
                        <p>No categories available. Create categories before adding subcategories.</p>
                    {% else %}
                        <p>categories available. .</p>
                    {% endif %}    
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"
                               name="{{ field.html_name }}"
                               id="{{ field.id_for_label }}"
                               {% if field.value %}checked{% endif %}>
                        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                {% else %}
                <div class="authentication-form-input">
                    {{ field.label_tag }} 
                    {% if field.name == "parent" %}
                        <select multiple="multiple" class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" size="5">
                            {% for choice in field.field.queryset %}
                                <option value="{{ choice.product_id }}" {% if choice.product_id in field.value %}selected{% endif %}>
                                    {{ choice.name }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
        
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}

            <button type="submit" class="btn btn-outline-primary mt-1">{{ button_text }}</button>
        </form>
    </div>
{% endblock %}