<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand px-3" href="{% url 'home' %}">KMG</a>

        <!-- Search bar -->
        <form role="search" class="searchBar" id="searchBar">
            <div class="input-group">
                <input class="form-control search-input" type="search" placeholder="&#xF002;  Search"
                       aria-label="Search" style="font-family:Arial, FontAwesome,serif"/>
            </div>
        </form>

        <!-- Buttons -->
        <table class="navbar-nav ps-3 ms-auto">
            <tr class="ps-3">
                {% if user.is_superuser %}
                    <!-- Super user profile button -->
                    <th class="nav-item dropdown">
                        <a class="nav-link mx-2" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" title="SuperUser"><i class="fas fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" id="profile-dropdown"
                            aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'add_category' %}">Categories</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'add_product' %}">Products</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </th>
                {% elif user.is_authenticated %}
                    <!-- Profile/Logout button -->
                    <th class="nav-item dropdown">
                        <a class="nav-link mx-2" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" title="Profile/Logout"><i class="fas fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" id="profile-dropdown"
                            aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item text-center" href="#">
                                    {{ user.first_name }} {{ user.last_name }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </th>
                {% else %}
                    <!-- Login/Register button -->
                    <th class="nav-item dropdown">
                        <a class="nav-link mx-2" id="loginDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" title="Login/Register"><i class="fas fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" id="login-register-dropdown"
                            aria-labelledby="loginDropdown">
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'login' %}">Login</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'register_user' %}">Register</a>
                            </li>
                        </ul>
                    </th>
                {% endif %}

                <!-- Favorites button -->
                <th class="nav-item">
                    <a class="nav-link mx-2" href="#" id="favorites" title="Favorites"><i class="fas fa-heart"></i></a>
                </th>
                <!-- Cart button -->
                <th class="nav-item">
                    <a class="nav-link mx-2" href="#" id="cart" title="Cart"><i class="fas fa-shopping-cart"></i></a>
                </th>
            </tr>
        </table>
    </div>
    <!-- Search bar max-width: 458px -->
    <form role="search" class="searchBar mx-auto d-none" id="searchBarMax458">
        <div class="input-group">
            <input class="form-control search-input" type="search" placeholder="&#xF002; Search" aria-label="Search"
                   style="font-family:Arial, FontAwesome,serif"/>
        </div>
    </form>
</nav>