<nav class="navbar navbar-expand-sm my-0 py-0" id="entire_header">
    <div class="container-fluid">
        <a class="navbar-brand px-3 py-3" style="font-weight: bold" href="{% url 'home' %}">KMG</a>

        <!-- Search bar -->
        <form role="search" method="get" action="{% url 'search' %}" class="searchBar">
            <div class="input-group">
                <input class="form-control search-input" type="search" value="{{ request.GET.search_value }}" name="search_value"
                       placeholder="&#xF002;  Szukaj"
                       aria-label="Search"/>
            </div>
        </form>


        {% include 'categories/header_categories.html' %}

        <!-- Collapse icon -->
        <button class="nav-item navbar-toggler collapsible" type="button" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Buttons -->
        {% include 'responisve_header_buttons.html' %}

        <table class="navbar-nav ps-3 ms-auto" id="header_buttons">
            <tr class="ps-3">
                <!-- Super user profile button -->
                {% if user.is_superuser %}
                    <th class="nav-item dropdown">
                        <a class="nav-link mx-2 icon-text" id="superUserDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" title="SuperUser"><i class="fas fa-user me-2"></i>Profil</a>
                        <a class="nav-link mx-2 only-icon" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" title="Profile/Logout"><i class="fas fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" id="profile-dropdown"
                            aria-labelledby="superUserDropdown">
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'user_profile' %}">
                                    {{ user.first_name }} {{ user.last_name }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'messages_list' %}">
                                    <i class="bi bi-chat-dots me-2"></i>Wiadomości
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'order_list' %}">Szczegóły zamówienia</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </th>
                {% elif user.is_authenticated %}
                    <!-- Profile/Logout button -->
                    <th class="nav-item dropdown">
                        <a class="nav-link mx-2 icon-text" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" title="Profile/Logout"><i class="fas fa-user me-2"></i>Profil</a>
                        <a class="nav-link mx-2 only-icon" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" title="Profile/Logout"><i class="fas fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" id="profile-dropdown"
                            aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'user_profile' %}">
                                    {{ user.first_name }} {{ user.last_name }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'add_address' %}">Dodaj Adres</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'messages_list' %}">
                                    <i class="bi bi-chat-dots me-2"></i>Wiadomości
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'order_list'  %}">Szczegóły zamówienia</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'logout' %}">Wyloguj</a>
                            </li>
                        </ul>
                    </th>
                {% else %}
                    <!-- Login/Register button -->
                    <th class="nav-item dropdown" id="loginDropdown" role="button" aria-expanded="false" title="Login/Register">
                        <a class="nav-link mx-2 icon-text" data-bs-toggle="dropdown">
                            <i class="fas fa-user me-2"></i>Login</a>
                        <a class="nav-link mx-2 only-icon" data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" id="login-register-dropdown"
                            aria-labelledby="loginDropdown">
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'login' %}">Login</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'register_user' %}">Rejestracja</a>
                            </li>
                        </ul>
                    </th>
                {% endif %}

                <!-- Favorites button -->
                <th class="nav-item" onclick="location.href='{% url 'favorites' %}'" style="cursor: pointer;">
                    <a href="{% url 'favorites' %}" class="nav-link mx-2 icon-text" id="favorites" title="Favorites"><i
                            class="fas fa-heart me-2"></i>Ulubione</a>
                    <a href="{% url 'favorites' %}" class="nav-link mx-2 only-icon" id="favorites" title="Favorites"><i
                            class="fas fa-heart"></i></a>
                </th>
                <!-- Cart button -->
                <th class="nav-item" onclick="location.href='{% url 'cart_detail' %}'" style="cursor: pointer;">
                    <a href="{% url 'cart_detail' %}" class="nav-link mx-2 icon-text" id="cart" title="Cart"><i
                            class="fas fa-shopping-cart me-2"></i>Koszyk</a>
                    <a href="{% url 'cart_detail' %}" class="nav-link mx-2 only-icon" id="cart" title="Cart"><i
                            class="fas fa-shopping-cart"></i></a>
                </th>
            </tr>
        </table>
    </div>
</nav>
<nav>
    <!-- Search bar max-width: 458px -->
    <form role="search" method="get" action="{% url 'search' %}" class="searchBar mx-auto d-none" id="searchBarMax458">
        <div class="input-group">
            <input class="form-control search-input" type="search" value="{{ request.GET.search_value }}" name="search_value" placeholder="&#xF002; Search" aria-label="Search"/>
        </div>
    </form>
</nav>