{% extends 'base.html' %}

{% block title %}
    Sposób dostawy zamówienia
{% endblock %}


{% block content %}
    <section class="order-status-container">
        <div class="order-status-card">
            <h2>Szczegóły zamówienia</h2>
            <p>Zamówienie #{{ order.id }}</p>
            <p>Status: <strong>{{ order.get_status_display }}</strong></p>
            <p>Łączna kwota: {{ order.total_amount|floatformat:2 }} zł</p>

            <ul>
                <li><strong>Data utworzenia:</strong> {{ order.created_at }}</li>
                <li><strong>Produkty:</strong> {{ order.products }}</li>
            </ul>

            <h3>Postęp dostawy</h3>
            <div class="progress-container">
                <ul class="progress-steps">
                    <li class="step {% if order.status == 'created' %}active{% elif order.status != 'created' %}completed{% endif %}">
                        <div class="circle">1</div>
                        <div class="label">Utworzono</div>
                    </li>
                    <li class="step {% if order.status == 'processing' %}active{% elif order.status in 'in_delivery ready_for_pickup completed' %}completed{% endif %}">
                        <div class="circle">2</div>
                        <div class="label">Przetwarzane</div>
                    </li>
                    <li class="step {% if order.status == 'in_delivery' %}active{% elif order.status in 'ready_for_pickup completed' %}completed{% endif %}">
                        <div class="circle">3</div>
                        <div class="label">W dostawie</div>
                    </li>
                    <li class="step {% if order.status == 'ready_for_pickup' %}active{% elif order.status == 'completed' %}completed{% endif %}">
                        <div class="circle">4</div>
                        <div class="label">Gotowe do odbioru</div>
                    </li>
                    <li class="step {% if order.status == 'completed' %}completed{% endif %}">
                        <div class="circle">5</div>
                        <div class="label">Zakończone</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}