<div class="pagination w-100 d-flex justify-content-center my-3">
    <nav>
        {% if page_obj.has_previous %}
            <a href="?page=1" class="px-2">
                <i class="fa-solid fa-forward-fast" style="transform: rotate(180deg)"></i>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}" class="px-2">
                <i class="fa-solid fa-arrow-right" style="transform: rotate(180deg)"></i>
            </a>
        {% else %}
            <span class="px-2 text-muted">
                <i class="fa-solid fa-forward-fast" style="transform: rotate(180deg)"></i>
            </span>
            <span class="px-2 text-muted">
                <i class="fa-solid fa-arrow-right" style="transform: rotate(180deg);"></i>
            </span>
        {% endif %}

        <span class="px-2">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="px-2"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="px-2"><i class="fa-solid fa-forward-fast"></i></a>
        {% else %}
            <span class="px-2 text-muted"><i class="fa-solid fa-arrow-right"></i></span>
            <span class="px-2 text-muted"><i class="fa-solid fa-forward-fast"></i></span>
        {% endif %}
    </nav>
</div>

<style>
    .pagination {
        a:hover {
            text-decoration: none;
            color: #4c7a27;
        }

        span {
            cursor: default;
        }
    }
</style>