<div class="vertical-menu">
    <table class="navbar-nav">
        <tr>
            <!-- Super user profile button -->
            {% if user.is_superuser %}
                <th class="nav-item dropdown">
                    <a class="nav-link" id="superUserDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" title="SuperUser"><i class="fas fa-user me-2"></i>Profil</a>
                    <ul class="dropdown-menu dropdown-menu-end" id="profile-dropdown"
                        aria-labelledby="superUserDropdown">
                        <li>
                            <a class="dropdown-item text-center" href="{% url 'logout' %}">Wyloguj</a>
                        </li>
                    </ul>
                </th>
            {% elif user.is_authenticated %}
                <!-- Profile/Logout button -->
                <th class="nav-item dropdown">
                    <a class="nav-link" id="profileDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false" title="Profile/Logout"><i class="fas fa-user me-2"></i>Profil</a>
                    <ul class="dropdown-menu dropdown-menu-end" id="profile-dropdown"
                        aria-labelledby="profileDropdown">
                        <li>
                            <a class="dropdown-item text-center" href="#">
                                {{ user.first_name }} {{ user.last_name }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-center" href="{% url 'add_address' %}">Dodaj adres</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-center" href="{% url 'logout' %}">Wyloguj</a>
                        </li>
                    </ul>
                </th>
            {% else %}
                <!-- Login/Register button -->
                <th class="nav-item dropdown">
                    <a class="nav-link" id="loginDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false" title="Login/Register"><i class="fas fa-user me-2"></i>Login</a>
                    <ul class="dropdown-menu dropdown-menu-end" id="login-register-dropdown"
                        aria-labelledby="loginDropdown">
                        <li>
                            <a class="dropdown-item text-center" href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-center" href="{% url 'register_user' %}">Zarejestruj</a>
                        </li>
                    </ul>
                </th>
            {% endif %}

            <!-- Favorites button -->
            <th class="nav-item">
                <a class="nav-link" href="{% url 'favorites' %}" id="favorites" title="Favorites"><i
                            class="fas fa-heart me-2"></i>Ulubione</a>
            </th>
            <!-- Cart button -->
            <th class="nav-item">
                <a class="nav-link" href="#" id="cart" title="Cart"><i
                            class="fas fa-shopping-cart me-2"></i>Koszyk</a>

            </th>
        </tr>
    </table>
</div>