<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>Sklep KMG</h4>
                            <span>Wysokiej jakości elektronika dla każdego</span>
                            <div class="main-border-button">
                                <a href="{% url 'all_products' %}">Kup teraz!</a>
                            </div>
                        </div>
                        <img class="d-block" src="../../static/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Komputery</h4>
                                        <span>Najnowsze modele i akcesoria</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Komputery</h4>
                                            <p>Odkryj najnowsze komputery – idealne do pracy i gier.</p>
                                            <div class="main-border-button">
                                                <a href="{% url 'category_products' pc.id %}">Odkryj więcej</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../static/images/baner-right-image-01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Laptopy</h4>
                                        <span>Idealne do pracy</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Laptopy</h4>
                                            <p>Laptopy do pracy i gier – idealne w każdym calu.</p>
                                            <div class="main-border-button">
                                                <a href="{% url 'category_products' laptops.id %}">Odkryj więcej</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../static/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Głośniki</h4>
                                        <span>Najlepiej brzmiące</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Głośniki</h4>
                                            <p>Głośniki – dźwięk, który zachwyca.</p>
                                            <div class="main-border-button">
                                                <a href="{% url 'category_products' speakers.id %}">Odkryj więcej</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../static/images/baner-right-image-03.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Tablety</h4>
                                        <span>Przenośne i poręczne</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Tablety</h4>
                                            <p>Tablety – mobilność, wydajność, rozrywka.</p>
                                            <div class="main-border-button">
                                                <a href="{% url 'category_products' tablets.id %}">Odkryj więcej</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../static/images/baner-right-image-04.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->