{% if liked_products %}
    <section class="product" style="background-color: #64a343;">
        <h2 class="header-1 product-category">Wróć do tego co kochasz</h2>
        <h2 class="header-2 product-category">Polubione produkty</h2>
        <button class="pre-btn"><img src="../../static/images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="../../static/images/arrow.png" alt=""></button>
        <div class="product-container">
            {% csrf_token %}
            {% for product in liked_products %}
                <div class="product-card">
                    <button class="btn like-btn"
                            id="like-btn-{{ product.id }}"
                            data-product-id="{{ product.id }}">
                        {% if user.is_authenticated %}
                            {% if user in product.liked_by.all %}
                                <i class="fas fa-heart" style="color: black;"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                        {% else %}
                            {% if product.id in request.session.liked_products %}
                                <i class="fas fa-heart" style="color: black;"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                        {% endif %}
                    </button>
                    <form method="post" action="{% url 'add_to_cart' product.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn cart-btn" id="cart-btn-{{ product.id }}"
                                data-product-id="{{ product.id }}">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>
                    <div class="mt-4">
                        <a href="{% url 'product_detail' product.id %}">
                            <div class="mb-4">
                                <div class="image-container mt-2 px-2">
                                    <img src="{{ product.image.url }}" class="card-img-top"
                                         alt="{{ product.name }}"
                                         loading="lazy">
                                </div>
                                <div class="card-body p-1 ps-2">
                                    <p class="card-title">{{ product.brand }}</p>
                                    <p class="card-text mb-2">{{ product.name }}</p>
                                    <p class="card-text">{{ product.price }} zł</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
